*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F5F9B4;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #14213d;
  
}

::-webkit-scrollbar-thumb {
  background-color: #7184ad;
}